 .tutorial ul {
    font-size: 0;
    list-style-type: none;
    width: initial;
}

.tutorial ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    display: inline-block;
    padding: 15px;
    position: relative;
}

.tutorial ul li ul {
    display: none;
}

.tutorial ul li:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.tutorial ul li:hover ul {
    display: block;
    margin-top: 15px;
    width: 200px;
    left: 0;
    position: absolute;
    padding: 0;
}

.tutorial ul li:hover ul li {
    display: block;
    background-color: #e7e7e7;
}

.btn_box {
    width: 235px;
    float: right;
    text-align: center;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_blue {
    background: #4599d8;
    color: white;
}

.pad_l_0 {
    padding-left: 0;
}

.mad_l_0 {}

.pad_r_0 {
    padding-right: 0;
}

.mar_r_0 {
    margin-right: 0;
}

.block_left_align {
}

header.tutorial {
    height: 54px;
    border-bottom: 1px solid #86898b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    overflow: hidden;
}
.slider {
	background: url(/images/cover1.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-position: bottom;
	background-repeat: no-repeat;
}


.btn_order {
    cursor: pointer;
}

body {font-family: "Agora";font-size: 1rem;overflow-x: hidden;}

.image_about {
    background: url(/images/img1.jpg);
    background-size: cover;
    background-position: 50%;
}

.about .row {
    position: relative;
    height: 100%;
    display: flex;
}

h2 {
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: 900;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    transform: rotateZ(0.04deg);
    letter-spacing: 0.9px;
}

html {
    font-size: 18px;
}

.blue_color {
    color: #4599d8;
}

.text_block {
    padding: 2rem  3% 2rem 3%;
}

p.bold_up {
    font-size: 1.3rem;
    /* padding: 1rem 0; */
    font-weight: 600;
    position: relative;
    z-index: 1;
    margin: 0;
}

.back_left {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    top: 0;
    left: -104%;
}

.pikabu >div {
    position: relative;
    /* padding: 1rem 0; */
}

.pikabu {
    padding: 1rem 0;
}

.col-lg-2.pad_r_0.mar_r_0.block_left_align {
    height: 100%;
}

.col-lg-8 {
}

header.tutorial .logo_top a img {
    width: 124px;
    height: initial;
}

header.tutorial * {height: 100%;}

header.tutorial a {
    display: flex;
    align-items: center;
}

.logo_top {
    padding: 0 6%;
}

ul.no_padd {
    padding: 2px 17px;
}

ul li {
    margin: 4px 0;
}

ul.blue_color.no_padd li span {
    color: #000;
}

ul.menu {
    text-align: center;
}

.counter-section {
    text-align: center;
    background: url(/images/counter.jpg);
    position: relative;
    color: #1a74b8;
    background-size: cover;
    background-position: 50%;
}

.counter-wrap {
    padding: 4rem 0;
}

.counter-section strong {
    display: block;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 48px;
    color: #1a74b8;
    transform: rotateZ(0.04deg);
}

span.count-description {
    font-size: 1rem;
}

.direction_make .row {
    display: flex;
}

.work {}

.work_image {
    margin-right: 0rem;
    position: relative;
    /* left: -7%; */
    background: url(/images/img2.jpg);
    /* padding-right: 15px; */
    z-index: 10;
}

.text_block_right {
    padding: 2rem 0rem 2rem 6rem;
}

.center-block_text {
    padding: 5rem 3rem 5rem 0;
}

.text_center {
    text-align: center;
}

section.advantage {
    padding: 3rem;
}

.back_gray {
    background: #f0f0f0;
}

.service_icon .svg_icon {
    width: 83px;
}

.service_icon {
    text-align: center;
}

.service_block h3 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
}

.service_block p {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
}

.row.ad_row {
    margin: 3rem 0;
}

.image_cooperation {
    background: url(/images/img3.jpg);
    background-size: cover;
    background-position: top;
}

h2 {}

h2.left_el:before {
    background: url(/images/element_left.svg);
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 100% 0;
    left: -103%;
    top: 39px;
    transform: rotateZ(-0.04deg);
    z-index: -1;
}

.solution h2.left_el:before {
    background: url(/images/element_left.svg);
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 100% 0;
    left: -60.6%;
    top: 44px;
}

body.ttt {
    /* min-width: 1920px; */
    /* overflow: auto; */
}

.button.readmore a {
    padding: 14px 61px;
    color: #4599d8;
    border: 1px solid #4599d8;
    border-radius: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    transition: color, background 0.4s ease;
}

.button.readmore {
    margin: 1rem 0;
}

.button.readmore a:hover {
    color: white;
    background: #4599d8;
}

.service-1 {}

.service_item {
    height: 16vw;
    width: 32.33%;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    min-width: 300px;
    min-height: 134px;
    margin: 0.6rem 0;
}

.service_grid {
    padding: 1rem 0;
}

.service-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
}

.col-lg-6.col-lg-offset-1.text_block {
}

.section .container-fluid {
    /* padding-left: 15%; */
    /* padding-right: 5%; */
}

.ttt .line {
    width: 50%;
    height: 100%;
    /* position: fixed; */
    background: rgba(15, 255, 0, 0);
    /* z-index: 999; */
    border-right: 1px solid #00ff2d;
}

.ttt .row .line {
    border-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.ttt .col-lg-8.col-lg-offset-1.text_block {
    position: relative;
}

.col-lg-6.pad_l_0.pad_r_0.image_about {
    position: relative;
    right: -7%;
}

.service_item.service-1 {
    background: url(/images/service1.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.service_item.service-2 {
    background: url(/images/service2.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.service_item.service-3 {
    background: url(/images/service3.jpg);
    background-size: cover;
    background-position: 50% 50%;
}


.service_item.service-4 {
    background: url(/images/service4.jpg);
    background-size: cover;
    background-position: 50% 50%;
}


.service_item.service-5 {
    background: url(/images/service5.jpg);
    background-size: cover;
    background-position: 50% 50%;
}


.service_item.service-6{
    background: url(/images/service6.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.dark_back {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(2, 2, 2, 0.43);
    top: 0;
    border-radius: 5px;
    z-index: 10;
}

.ser_text {
    position: relative;
    z-index: 11;
    color: white;
    width: 100%;
    padding: 6%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    transition: all 0.5s ease;
}

.service_item a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
}



.pad_b_0 {
    padding-bottom: 0;
}

.pad_t_0 {
    padding-top: 0;
}

.service.section {
    padding: 4rem 0;
}

.right_el:after {
    content: '';
    background: url(/images/element_right.svg);
    content: '';
    display: inline-block;
    width: 100%;
    height: 68%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    transform: rotateZ(-0.04deg);
    margin-left: 26px;
}

.back_gray_dark {
    background: #363636;
}
.white_color {
	color: #fff;
}
